<div class="container" id="container">
    <div class="row giftBoxContainer">
        <div class="col-md-3 giftbox">
            <p id="text"><span>Hey</span> Kaashvi!</p>
        </div>
        <div class="col-md-3 giftbox">
            <img src="assets/img/Box1.png" class="img-fluid" alt="Gift Image" id="image1">
        </div>
        <div class="col-md-3 giftbox">
            <img src="assets/img/Box1.png" class="img-fluid" alt="Gift Image" id="image2">
        </div>
        <div class="col-md-3 giftbox">
            <img src="assets/img/Box1.png" class="img-fluid" alt="Gift Image" id="image3">
        </div>
        <div class="col-md-3 giftbox">
            <p id="text"> Pick one as your <br> Joining Gift</p>
        </div>
        <div class="col-md-3 giftbox">
            <div class="keyContainer">
                <div id="box" class="rotate-container">
                    <img id="keyimage" src="assets/img/Key2.png" class="rotate-image">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body d-flex flex-column justify-content-center align-items-center">
      <img src="assets/img/header.png" id="header">
      <h4>Voila! You made it</h4>
      <img id="claim" src="assets/img/claim.png" data-bs-dismiss="modal">
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body d-flex flex-column justify-content-center align-items-center">
      <img src="assets/img/header.png" id="header">
      <h4> Yay! you win 50 coins</h4>
      <h5 class="fontmodal"> However, you missed the maximum reward</h5>
      <img id="claim" src="assets/img/claim.png" data-bs-dismiss="modal">
    </div>
  </div>
</div>
</div>